body {
    background-color: slategray;
    border-style: solid;
    border-width: 5px;
    border-color:darkslategrey;

}

h1 {
    color:lawngreen;
    text-align: center;
}

.feel-img {
    display: block;
    width: 320px;
}

.feel-row {
    display: flex;
    padding: 0 5px;
}

.feel-column {
    flex: 50%;
    max-width: 50%;
    padding: 0 5px;
}