body {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 12pt;
	margin-left: 20px;
	margin-right: 20px;
}

#header {
	text-align: center;
	margin-bottom: 1em;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	font-style: italic;
	font-family: "Impact", fantasy;
}

legend {
	font-family: "Impact", fantasy;
	font-size: 120%;
}

textarea {
	font-family: monospace;
	font-size: 12pt;
}

button {
	display: block;
}

.bling {
	animation: blink 2.5s linear infinite;
	background-image: url("hundred-dollar-bill.jpg");
	background-size: contain;
	color: green;
	font-family: serif;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.5;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}