/*
CMSC 121 Assignment 3
Submitted By: Andrei Ernest G. Martillo
Description: Recreate a website you frequently visit.
*/

body {
    background-color: #E4E3D5;
    font-size: 14px;
    font-family: "Verdana",Verdana, Arial;
    margin: 0;
}

i {
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
}

header {
    letter-spacing: 0.5px;
}

#top, #nav-header, main, .directory, footer {
    display: flex;
    position: relative;
}

#top {
    color: white;
    background-color: #333399;
    justify-content: space-between;
    padding: 0.5em;
}

#top i {
    margin-left: 10px;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top a, #top a:hover, #top a:visited {
    color: white;
}

#title-link {
    font-size: 1.1em;
}

#title-left, .dropdown, main {
    margin-left: 11%;
}

#title-right, .search-input, main {
    margin-right: 11%;
}

#nav-header {
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    background-color: #f6f7ee;
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    justify-content: space-between;
}

.dropdown {
    flex-grow: 1;
    display: flex;
    gap: 1.6em;
    padding-top: 5px;
}

.dropdown a, .dropdown a:visited {
    color: black;
}

.btn, input {
    border: 1px solid #ccc;
}

.btn {
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 4px 0 0 4px;
    position: relative;
    right: -4.5px;
}

input {
    position: relative;
    height: 20px;
    width: 130px;
    color: #555;
    border-radius: 0 4px 4px 0;
}

main {
    background-color: white;
    flex-direction: column;
    padding: 0 0.5em;
}

.directory, footer {
    flex-direction: column;
}

.directory {
    border: 1px solid #ddd;
    margin: 0.5em 0;
}

.directory h2 {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 5px;
    font-size: inherit;
    font-weight: normal;
}

h2 img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}

.directory ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    gap: 8px;
}

main a, footer a {
    color: #0f37a0;
}

footer {
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

footer p {
    color: #c4c4c4;
    margin-top: 1em;
    font-size: 8px;
}

#icon-twitter {
    color: rgb(104, 100, 100);
}

#icon-lock {
    font-size: 11px;
}